.jumbotron {
  background-image: url(./pexels-stas-knop-1626481.jpg);
  background-size: 100% 250%;
  height: 300px;
  text-align: right;
}

.h1-jumbo {
  text-align: right;
  font-weight: bold;
}

.card {
  position: relative;
}

.badge-card {
  position: absolute;
  margin-left: 0.1rem;
}

.badge {
  background-color: #ffe641;
  color: black;
}
.trash-td {
  width: 30px;
}

.footer {
  background-color: rgb(194, 193, 193);
  color: rgb(0, 0, 0);
  min-height: 300px;
  display: flex;
  align-content: center;
}
